.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form .MuiTextField-root {
    margin-bottom: 20px;
}
