.background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://w0.peakpx.com/wallpaper/403/852/HD-wallpaper-abstract-purple-purple-and-teal.jpg') no-repeat center center fixed;
    background-size: cover;
}

.admin-container {
     /* Keep background color white for the form */
    padding: 20px; /* Reduce padding to make the card smaller */
    border-radius: 10px;
   
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 20px; /* Reduce margin */
}

.admin-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-title {
    margin-right: 10px;
    color: black; /* Set the color of the icon to black */
}

.form-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: black; /* Ensure label color is black */
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.submit-button {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease;
    width: 150px; /* Adjust the width of the button */
    margin-top: 20px; /* Add margin-top for spacing */
    align-self: center; /* Center the button */
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.response-message {
    margin-top: 10px;
    color: red;
}
