.background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://w0.peakpx.com/wallpaper/403/852/HD-wallpaper-abstract-purple-purple-and-teal.jpg') no-repeat center center fixed;
    background-size: cover;
}

.office-container {
    /* Make background slightly transparent */
    padding: 20px; /* Add more padding for better spacing */
    border-radius: 10px; /* Increase border-radius for rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhance box-shadow for depth */
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 20px;
    
}

.office-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-title {
    margin-right: 10px;
    color: black;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #555; /* Change label color for better contrast */
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    
}

.submit-button {
    display: block;
    /* margin-top: 20px; */
    background-color: red;
    color: white;
    transition: background-color 0.3s ease;
    width: 150px; /* Adjust the width of the button */
    margin-top:20px;
    align-self: center;
    cursor: pointer; /* Adjust the top margin */
}

.submit-button:hover {
    background-color: #003d80;
}

.response-message {
    margin-top: 10px;
    color: red;
    
}
